{% extends "blog/base.html" %}

{% block title %}Blog | {{ block.super }}{% endblock%}

{% block breadcrumb %}
<ul class="breadcrumb">
  <li><a href="/">Home</a> <span class="divider">/</span></li>
  <li class="active">Blog</li>
</ul>
{% endblock %}

{% block content %}
<div>
    <div class="col-md-10">
        <h3>Index</h3>
        {% for item in articles %}
            </br>
            <article class="news-item">
                <h4 class="title"><a href="{% url 'blog:blog-article-single' slug=item.slug %}">{{ item.title }}</a></h4>
                <div class="meta">{{ item.date_publish|date:"F j, Y" }}</div>
            </article>
        {% endfor %}
        
        <div class="pagination pull-right">
            <span class="step-links">
                {% if articles.has_previous %}
                    <a href="?page={{ articles.previous_page_number }}">previous</a>
                {% endif %}

                <span class="current">
                    Page {{ articles.number }} of {{ articles.paginator.num_pages }}.
                </span>

                {% if articles.has_next %}
                    <a href="?page={{ articles.next_page_number }}">next</a>
                {% endif %}
            </span>
        </div>
        
    </div>
    <div class="col-md-2">
        <ul class="nav nav-list">
        {% if archive_dates|length > 0 %}
            <li class="nav-header">Archive Dates</li>
            {% for date in archive_dates %}
                <li><a href="{% url 'blog:blog-date-archive' year=date|date:'Y' month=date|date:'m' %}">{{ date|date:"M Y" }}</a></li>
            {% endfor %}
            
            <li class="nav-header">Categories</li>
            {% for tmp in categories %}
                <li{% if category.slug == tmp.slug %} class="active"{% endif %}><a href="{% url 'blog:blog-category-archive' slug=tmp.slug %}">{{ tmp.title }}</a></li>
            {% endfor %}
        {% endif %}
        </ul>
    </div>

</div>
{% endblock %}